[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "outbreaker2"]
	path = outbreaker2
	url = https://github.com/finlaycampbell/outbreaker2
